<!DOCTYPE html>
<html lang="ja">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	        crossorigin="anonymous"></script>
<style>
	.bg01 {background: url(images/background_top.jpg) no-repeat top left; background-size: 100% auto;}

	.login-form {
	  max-width: 450px;                      /* フォームの最大幅を大きく */
	  width: 100%;
	  background-color: rgba(255,255,255,0.75); /* 半透明ホワイト */
	  padding: 2rem;                         /* Bootstrap の p-5 と同等 */
	  border-radius: 0.5rem;                 /* Bootstrap の rounded と同等 */
	  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
	}
</style>

	<title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
		<img src="images/logo.png" alt="Bootstrap" width="140" height="30">
	</a>
  </div>
</nav>
<div class="container-fluid bg01">
  <div class="row vh-100 justify-content-center">
    <!-- 右側：ログインフォーム -->
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <form class="login-form" action="#">
        <h2 class="mb-4 text-center">会員登録完了</h2>
		<p class="text-center">以下の内容で登録が完了しました。</p>
        <div class="mb-3">
          <label class="mail-label">メールアドレス</label>
		  <br>
		  <label class="mail-input fs-4">aaaaa@aaa.com</label>
        </div>
		<div class="mb-3">
		  <label class="mail-label">メールアドレス</label>
		  <br>
		  <label class="mail-input fs-4">aaaaa@aaa.com</label>
		</div>
		<div class="mb-3">
		  <label class="mail-label">メールアドレス</label>
		  <br>
		  <label class="mail-input fs-4">aaaaa@aaa.com</label>
		</div>
        <button type="submit" class="btn btn-primary w-100">ログイン画面へ</button>
      </form>
	  
    </div>

  </div>
</div>




</body>
</html>