<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	        crossorigin="anonymous"></script>
<style th:inline="css">
	.bg01 {background: url(images/background_top.jpg) no-repeat top left; background-size: 100% auto;}

	.login-form {
	  max-width: 450px;                      /* フォームの最大幅を大きく */
	  width: 100%;
	  background-color: rgba(255,255,255,0.75); /* 半透明ホワイト */
	  padding: 2rem;                         /* Bootstrap の p-5 と同等 */
	  border-radius: 0.5rem;                 /* Bootstrap の rounded と同等 */
	  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
	}
</style>

	<title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
		<img th:src="@{images/logo.png}" alt="Bootstrap" width="140" height="30">
	</a>
  </div>
</nav>
<div class="container-fluid bg01">
  <div class="row vh-100">
    
    <!-- 左側：キャッチコピー -->
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="p-5 ms-3 text-white">
        <h1 class="display-4 text-dark">旅をするたび、<br>自分が好きになる</h1>
        <p class="lead text-dark">あなたの想い出が、ここからはじまる。</p>
      </div>
    </div>
    
    <!-- 右側：ログインフォーム -->
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <form class="login-form" method="get" th:action="@{/goTopFromLogin}" th:object="${loginForm}">
        <h2 class="mb-4 text-center">ログイン</h2>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">メールアドレス (もしくはメンバーコード)</label>
          <input class="form-control" id="inputEmail" placeholder="you@example.com" th:field="*{id}">
        </div>
        <div class="mb-4">
          <label for="inputPassword" class="form-label">パスワード</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{password}">
        </div>
        <button type="submit" class="btn btn-primary w-100">ログイン</button>
		<a href="#"
		   class="btn btn-outline-primary d-grid mt-3"
		   style="max-width: 320px; margin: 0 auto;">
		  新規登録の方はこちら
		</a>
		<p th:text="${message}">error message</p>
      </form>
	  
    </div>

  </div>
</div>




</body>
</html>